
<h1>
  Routing,Get and Post App
</h1>
<hr>
<div class="pos">
  <input type="text" placeholder="search city" [(ngModel)]=cityName>
<button (click)=searchCity()>Search</button>

<a routerLink='/admin'>Admin</a>
<a routerLink='/member'>Member</a>

<router-outlet></router-outlet>

<h3>Pressure: <span class="c"> {{ cityPressure }}</span></h3>
<h3>Humidity: <span class="c">{{ cityHumid }}</span></h3>
<br>
<h3>Name: <span class="x">{{ countryObj?.name }}</span></h3>
<h3>Capital: <span class="x"> {{ countryObj?.capital }}</span></h3>
<h3>Currency: <span class="x">
  <span *ngIf="countryObj">
  {{ countryObj?.currencies[0].code }} - {{ countryObj?.currencies[0].symbol }}
  </span></span>
  </h3>
<select [(ngModel)]="countryName">
<input type="text" placeholder="country name" ngui-auto-complete [(ngModel)]="countryName">
<option *ngFor="let country of countriesList" value="{{country.name}}">{{country.name}}</option>
</select>
<button (click)="getCountryInfo()">Get Country</button>
<img src="{{countryObj?.flag}}" class="img">
</div>
<hr />
<app-post></app-post>
